{% extends 'pw/base.html' %}
{% load static %}

{% block main %}
            <div class="titulo1">
                <h1>League of Legends</h1>
            </div>
            <div class="image">
            <figure>
                <img src="{% static 'images/Lol Esport.png' %}" alt = "E-sports">
                <figcaption><a href="https://esportbet.com/lol-lcs-lock-in-bettin-picks-predictions-january-16/">Fig.2 -League of Legends E-Sports logo</a></figcaption>
            </figure>
            </div>
{% endblock main %}

{% block footer %}
            <div class="titulo"><h3><b>Informação</b></h3></div>
            <div class="text1">
                <p>League of legends é um jogo online, cujo genero é multiplayer battle que foi desenvolvido pela Riot Games em 2009.</p>
                <p>Este jogo é tão popular que atualmente mais de 100 milhões de pessoas o jogam.</p>
                <p>O primeiro campeonato realizado pelo Riot Games foi em 2011 na Sweden e foi visualizado por mais de 1.6 milhões de pessoas.</p>
                <p>Devido à popularidade deste jogo a Riot Games ja realizou mais de 1718 torneios e continua a desenvolver o seu jogo e a criar mais tais como League of Runeterra e TFT.</p>

                <br>
                <p>A Primeira Temporada do campeonato mundial ocorreu em junho de 2011 e foi realizado na Dreamhack, na Suécia e os vencedores foram a Equipa Fnatic.</p>
                <p>Até aos dias de hoje ja se realizaram 10 campeonatos mundiais e de todas as equipas que entraram aqueles que se destacaram mais foram os SK Telecom T1 agora chamados T1.</p>
            </div>
            <div class="image">
                <figure>
                    <img src="{% static 'images/T1 Logo.png' %}" alt = "Logo T1">
                    <figcaption><a href="https://lol.fandom.com/wiki/T1">Fig.2 -T1 logo</a></figcaption>
                </figure>
            </div>
            <br>
            <div class="text1">
                <p>Os T1 são uma team de e-sport da Coreia do Sul, da empresa de telecomunicações SK Telecom.</p>
                <p>No total os T1 ganharam 19 competições sendo 3 desses campeonatos mundiais.</p>
                <p>Ao todo ao ganharem 3 worlds a equipa ganhou 4.680.000 US$.</p>
                <br>
                <p>Tal como os T1 existem muitas equipas que ganharam um ou mais torneios mundiais e até ao presente muitas ainda esperam alcançar uma vitoria nesse torneio.</p>
            </div>
{% endblock footer %}