
.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;                              
    align-items: center; 
    justify-content: flex-end;                       
    min-height: 10.5vh;            
    text-transform: uppercase;
    font-weight: 500;                          
    z-index: 2;
}

.nav-logo { 
    margin-left: 20px;
}

.options-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-links-no-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-links-no-menu li {
    list-style: none;                          
    padding: 7px 7px 7px 8px;
    border-radius: 5px;
    transition: .8s ease-out background-color;
}

.nav-links-no-menu img {
    filter: invert(100%);
}

.nav-links-no-menu li:hover {
    background-color: rgb(118, 120, 203);
}

.nav-links li:hover {
    background-color: rgb(118, 120, 203);
}

.nav-links {
    display: none;
    justify-content: space-around;
    width: 40%;                                 
}

.nav-links li {
    list-style: none;                          
    padding: 7px 7px 7px 8px;
    border-radius: 5px;
    transition: .8s ease-out background-color;
}

.nav-bar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

@media screen and (max-width: 1160px) {
    .nav-links {
        width: 50%;
    }
}



.burger {
    margin-right: 20px;
    margin-left: 20px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

body {
    overflow-x: hidden;                     
}

.nav-links {
    position: fixed;                       
    right: 0px;
    height: 92vh;
    top: 10.50vh;
    background-image: linear-gradient(to right, #f00,#ff0,#0ff,#0f0,#00f);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    transform: translateX(100%);            
    transition: transform 0.7s ease-in-out; 
}

.nav-links a {
    color: #000000;
}

.nav-links li {
    opacity: 0;                             
}

.nav-links li:hover {
    background-color: transparent;
}

.burger {
    display: block;
    cursor: pointer;
}


.nav-active {
    transform: translateX(0%);
}

@media screen and (max-width: 768px) {
    .nav-links {
        width: 60%;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {                    
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
